<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="MichiGlam" content="Comercio electronico">
    <meta name="autor" content="Jonathan Edmundo Coln Garnica">
    <title>MichiGlam</title>
    <link rel="stylesheet" href="css/style_index.css">
    <link rel="stylesheet" href="css/style_detail.css">
    <script src="https://kit.fontawesome.com/a3de4c370e.js" crossorigin="anonymous"></script>
</head>


<body>
    <!--Encabezado-->
    <header class="michi_header">

      <a href="index.html"> <img src="img/Logo transparente.png" alt="Logo" > </a> 
        <h1>MichiGlam</h1>

        <div class="clearfix"></div>

        <nav>
            <a href="index.html">
                <i class="fas fa-home"></i>Inicio
            </a>
            <a href="#">
                <i class="fa-solid fa-basket-shopping"></i>
                Productos
            </a>
            <a href="ofertas.html">
                <i class="fa-solid fa-percent"></i>
                Ofertas
            </a>
             <a href="ofertas.html">
                <i class="fa-solid fa-cart-shopping"></i>
                Comprar
            </a>
              <a href="sesion.html">
                <i class="fa-solid fa-user"></i>
                Iniciar Sesión
            </a>
           
           
           
        </nav>

    </header>

    <!--Detalle del producto-->
    <div class="michi_detail">
        <!-- Primera columna -->
         <img src="img/sombras_tranparente.png" alt="Sombras">
         <div class="michi_descdetail">

            <p id="michi_nomdetail">Sombras COACH</p><br>
            <p>
                Sombras COACH <br>
                 de alta pigmentación,<br>
                 350gr <br>
                 Marca COACH <br>
                 Ingredientes: <br>
                 -Glicerina, aceite vegetales, Antioxidantes <br>
                 -Protector solar, aloe vera, conservantes <br>

            </p>

            <p id="michi_prescdetail"> $120.00 MXN</p> <br>
            <p> <i class="fas fa-truck"></i>Envios Gratis a todo el país.</p><br>
            <button id="btncomprar" type="button"  onclick="alert ('Proximamente')"><i class="fas fa-cart-shopping"></i>Agregar al carrito</button>
         </div>


    </div>

     <!--Footer-->
        <footer class="michi_footer">

            <p id="razsoc">MichiGlam S.A de C.V</p>
            <p>
                AV. RANCHO GRANDE MZ 012, BENITO JUAREZ CD NEZAHUALCOYOTL <br>
                <i class="fa-solid fa-phone"></i>5577495871 <br>
                &#169; VORTEX TI
            </p>


           <div class="redes_sociales">
                <p><i id="log_face" class="fa-brands fa-facebook"></i>Facebook</p>
                <p><i id="log_insta" class="fa-brands fa-instagram"></i>Instagram</p>
                <p><i id="log_tik" class="fa-brands fa-tiktok"></i>TikTok</p>
                <p><i id="log_what" class="fa-brands fa-whatsapp"></i>WhatsApp</p>
            </div>

        </footer>

</body>
</html>