<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="MichiGlam" content="Comercio electronico">
    <meta name="autor" content="Jonathan Edmundo Coln Garnica">
    <title>MichiGlam</title>
    <link rel="stylesheet" href="css/style_index.css">
    <script src="https://kit.fontawesome.com/a3de4c370e.js" crossorigin="anonymous"></script>
</head>


<body>
    <!--Encabezado-->
    <header class="michi_header">

      <a href="index.html"> <img src="img/Logo transparente.png" alt="Logo" > </a> 
        <h1>MichiGlam</h1>

        <div class="clearfix"></div>

        <nav>
            <a href="index.html">
                <i class="fas fa-home"></i>Inicio
            </a>
            <a href="#">
                <i class="fa-solid fa-basket-shopping"></i>
                Productos
            </a>
            <a href="ofertas.html">
                <i class="fa-solid fa-percent"></i>
                Ofertas
            </a>
             <a href="ofertas.html">
                <i class="fa-solid fa-cart-shopping"></i>
                Comprar
            </a>
              <a href="sesion.html">
                <i class="fa-solid fa-user"></i>
                Iniciar Sesión
            </a>
           
           
           
        </nav>

    </header>

    <div>
        <img src="img/Banner.png" alt="Banner" class="michi_banner">
    </div>


    <section id="gallery">
    <!--Subtitulo-->
    <div id="subtitulo"><h2>LO MÁS NUEVO</h2></div>
    

    <!--Galeria de maquillaje de temporada-->
     <!--Contenedor para el grid-->
        <div class="michi_container">
            <!--Primer fila-->
             <!--Primer columna-->
                <div class="michi_gallery">
                    <a href="detail_bile.html"><img src="img/bile_transparente.png" alt="bile"></a>
                    <div class="michi_datos">
                        <p>Bile Rojo BISSÚ</p>
                        <p id="precio">$45.00</p>
                    </div>
                </div>

              <!--Segunda columna-->
                <div class="michi_gallery">
                    <a href="detail_crema.html"><img src="img/Crema_Transparente.png" alt="Crema"></a>
                    <div class="michi_datos">
                        <p>Crema HIdratante NIVEA</p>
                        <p id="precio">$60.00</p>
                    </div>
                </div>

             <!--Tercer columna-->
                <div class="michi_gallery">
                    <a href="detail_rubor.html"><img src="img/Rubor_transparente.png" alt="Rubor"></a>
                    <div class="michi_datos">
                        <p>Rubor rojo BISSÚ </p>
                        <p id="precio">$70.00</p>
                    </div>
                </div>


              <!--Cuarta columna-->
                <div class="michi_gallery">
                    <a href="detail_sombras.html"><img src="img/sombras_tranparente.png" alt="Sombras"></a>
                    <div class="michi_datos">
                        <p>Sombras COACH</p>
                        <p id="precio">$120.00</p>
                    </div>
                </div>

    


         <!--Segunda fila-->
             <!--Primer columna-->
                <div class="michi_gallery">
                    <a href="detail_bile_negro.html"><img src="img/bile_negro.png" alt="bile"></a>
                    <div class="michi_datos">
                        <p>Bile Rojo MASC</p>
                        <p id="precio">$90</p>
                    </div>
                </div>

              <!--Segunda columna-->
                <div class="michi_gallery">
                    <a href="detail_crema_negro.html"><img src="img/Crema_Negro.png" alt="Crema"></a>
                    <div class="michi_datos">
                        <p>Crema HIdratante NIVEA 2L</p>
                        <p id="precio">$90.00</p>
                    </div>
                </div>

             <!--Tercer columna-->
                <div class="michi_gallery">
                    <a href="detail_rubor_negro.html"><img src="img/Rubor_negro.png" alt="Rubor"></a>
                    <div class="michi_datos">
                        <p>Rubor rojo COACH </p>
                        <p id="precio">$1400.00</p>
                    </div>
                </div>


              <!--Cuarta columna-->
                <div class="michi_gallery">
                    <a href="detail_sombras_negro.html"><img src="img/sombras_negro.png" alt="Sombras"></a>
                    <div class="michi_datos">
                        <p>Sombras GUCCI </p>
                        <p id="precio">$500.00</p>
                    </div>
                </div>



                 <!--Tercer fila-->
             <!--Primer columna-->
                <div class="michi_gallery">
                    <a href="#"><img src="img/bile_blanco.png" alt="bile"></a>
                    <div class="michi_datos">
                        <p>Bile Rojo DIOR</p>
                        <p id="precio">$150.00</p>
                    </div>
                </div>

              <!--Segunda columna-->
                <div class="michi_gallery">
                    <a href="#"><img src="img/Crema_blanco.png" alt="Crema"></a>
                    <div class="michi_datos">
                        <p>Crema HIdratante NIVEA 3L</p>
                        <p id="precio">$250.00</p>
                    </div>
                </div>

             <!--Tercer columna-->
                <div class="michi_gallery">
                    <a href="#"><img src="img/Rubor_blanco.png" alt="Rubor"></a>
                    <div class="michi_datos">
                        <p>Rubor rojo DIOR</p>
                        <p id="precio">$600.00</p>
                    </div>
                </div>


              <!--Cuarta columna-->
                <div class="michi_gallery">
                    <a href="#"><img src="img/sombras_blanco.png" alt="Sombras"></a>
                    <div class="michi_datos">
                        <p>Sombras MAC</p>
                        <p id="precio">$300.00</p>
                    </div>
                </div>


        </div>


        

        
        </section>

        <!--Footer-->
        <footer class="michi_footer">

            <p id="razsoc">MichiGlam S.A de C.V</p>
            <p>
                AV. RANCHO GRANDE MZ 012, BENITO JUAREZ CD NEZAHUALCOYOTL <br>
                <i class="fa-solid fa-phone"></i>5577495871 <br>
                &#169; VORTEX TI
            </p>


            <div class="redes_sociales">
                <p><i id="log_face" class="fa-brands fa-facebook"></i>Facebook</p>
                <p><i id="log_insta" class="fa-brands fa-instagram"></i>Instagram</p>
                <p><i id="log_tik" class="fa-brands fa-tiktok"></i>TikTok</p>
                <p><i id="log_what" class="fa-brands fa-whatsapp"></i>WhatsApp</p>
            </div>

        </footer>


</body>

</html>