<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style_sesion.css">
    <script src="https://kit.fontawesome.com/a3de4c370e.js" crossorigin="anonymous"></script>
    <title>MichiGlam</title>
</head>
<body>
    <!--Encabezado-->

    <header class="michi_header">
        <a href="index.html"><img src="img/Logo transparente.png" alt="logo"></a>
    </header>
    

    <!--Formulario Iniciar Sesión-->
    <div class="michi_forms">
        <form action="perfil.html">
            <h2>Iniciar Sesión</h2>
            <input type="email" placeholder="Correo electronico" required><br><br>
            <input type="password" placeholder="Contraseña" required><br><br>
            <input type="submit" value="Iniciar Sesión" id="michi_enviar">
            <a href="crear_cuenta.html">Crea tu cuenta</a>
            
        </form>
    </div>





     <!--Footer-->
        <footer class="michi_footer">

            <p id="razsoc">MichiGlam S.A de C.V</p>
            <p>
                AV. RANCHO GRANDE MZ 012, BENITO JUAREZ CD NEZAHUALCOYOTL <br>
                <i class="fa-solid fa-phone"></i>5577495871 <br>
                &#169; VORTEX TI
            </p>


            <div class="redes_sociales">
                <p><i id="log_face" class="fa-brands fa-facebook"></i>Facebook</p>
                <p><i id="log_insta" class="fa-brands fa-instagram"></i>Instagram</p>
                <p><i id="log_tik" class="fa-brands fa-tiktok"></i>TikTok</p>
                <p><i id="log_what" class="fa-brands fa-whatsapp"></i>WhatsApp</p>
            </div>

        </footer>


</body>
</html>